name: Release APK

on:
  release:
    types:
      - created
  workflow_dispatch:

env:
  KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
  KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
  KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
  STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.1'

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Decode Keystore
        # ⬅️ Correct path where Gradle looks for the file
        run: |
          echo "$KEYSTORE_BASE64" | base64 --decode > android/app/flutter-github-action.jks
          ls -la android/app  # Debug check

      - name: Build APK in Release Mode
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        run: flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: build/app/outputs/flutter-apk/app-release.apk

      - name: Get latest release info
        id: get_latest_release
        uses: actions/github-script@v4
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        with:
          script: |
            const response = await github.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 1
            });
            const latestRelease = response.data[0];
            core.setOutput("latest_release_id", latestRelease.id);

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install GitHub libs
        run: npm install @actions/github

      - name: Attach APK to Release
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.ACTION_TOKEN }}
          script: |
            const fs = require('fs');
            const file = process.env.GITHUB_WORKSPACE + '/build/app/outputs/flutter-apk/app-release.apk';
            const size = fs.statSync(file).size;

            await github.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: ${{ steps.get_latest_release.outputs.latest_release_id }},
              name: 'app-release.apk',
              data: fs.readFileSync(file),
              headers: {
                'content-type': 'application/vnd.android.package-archive',
                'content-length': size
              }
            });

            console.log("APK uploaded successfully!");
